* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

img {
  width: 40px;
}

.logos {
  border-radius: 75em;

  border: 5px solid rgb(218, 7, 7);
}

.title {
  font-size: 1em;
  font-style: italic;
  font-family: cursive;
}

.parrafo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(62, 102, 147);
}

#maintitle {
  font-size: 5em;
  color: blueviolet;
}

#titulos {
  border: 1.5em solid red;
  width: 65vw;
  margin: auto;
  padding: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

header {
  background-color: bisque;
  margin-top: 0px;
  border: 1px solid purple;
}
#contenedorcards {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  background-color: rgb(232, 250, 215);
  width: 85vw;
  margin: 1.5em auto;
  border: solid black 1px;
}
.cards {
  background-color: #18ae95;
  border: 0.05em solid blue;
  border-radius: 15%;
  height: 5em;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
}

.cards:hover {
  background-color: purple;
  transition: 3s;
}
